# Practice Session 04: Recommendations engines (interactions-based)

For this assignment we will build and apply an item-based and model-based collaborative filtering recommenders for movies.

Author: <font color="blue">Your name here</font>

E-mail: <font color="blue">Your e-mail here</font>

Date: <font color="blue">The current date here</font>

# 1. The Movies dataset

We will use the same dataset as in ps05, the 25M version of [MovieLens DataSet](https://grouplens.org/datasets/movielens/) released in late 2019. We will use a sub-set containing only movies released in the 2000s, and only 10% of the users and all of their ratings.

* **MOVIES** are described in `movies-2000s.csv` in the following format: `movieId,title,genres`.
* **RATINGS** are contained in `ratings-2000s.csv` in the following format: `userId,movieId,rating`
* **TAGS** are contained in `tags.csv` in the following format: `userId,movieId,tag,timestamp`

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

# 1.1. Load the input files

In [1]:
# Leave this code as-is

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from math import*
from scipy.sparse.linalg import svds
from sklearn.metrics.pairwise import linear_kernel

In [2]:
# Leave this code as-is

FILENAME_MOVIES = "movies-2000s.csv"
FILENAME_RATINGS = "ratings-2000s.csv"
FILENAME_TAGS = "tags-2000s.csv"

In [3]:
# Leave this code as-is

movies = pd.read_csv(FILENAME_MOVIES, 
                    sep=',', 
                    engine='python', 
                    encoding='latin-1',
                    names=['movie_id', 'title', 'genres'])
display(movies.head(5))

ratings_raw = pd.read_csv(FILENAME_RATINGS, 
                    sep=',', 
                    encoding='latin-1',
                    engine='python',
                    names=['user_id', 'movie_id', 'rating'])
display(ratings_raw.head(5))

   movie_id                  title                     genres
0      2769      Yards, The (2000)                Crime|Drama
1      3177     Next Friday (2000)                     Comedy
2      3190       Supernova (2000)  Adventure|Sci-Fi|Thriller
3      3225     Down to You (2000)             Comedy|Romance
4      3228  Wirey Spindell (2000)                     Comedy

   user_id  movie_id  rating
0        4         1     3.0
1        4       260     3.5
2        4       296     4.0
3        4       541     4.5
4        4       589     4.0

# 1.2. Merge the data into a single dataframe

Join the data into a single dataframe that should contain columns: user_id, movie_id, rating, timestamp, title, genders.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with your code from the previous practice that joined these three dataframes using "merge" into a single dataframe named "ratings". Print the first 5 rows of the resulting dataframe, which should contain columns "user_id", "movie_id", "rating", "title", and "genres".</font>

<font size="+1" color="red">Replace this cell with your code from the previous practice for "find_movies" that list movies containing a keyword</font>

In [6]:
# LEAVE AS-IS

# For testing, this should print '59784'
find_movies("Kung Fu Panda (2008)", movies)

movie_id: 59784, title: Kung Fu Panda (2008)

The following function, which you can leave as-is, prints the title of a movie given its movie_id.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

In [7]:
# LEAVE AS-IS

def get_title(movie_id, movies):
    return movies[movies['movie_id'] == movie_id].title.iloc[0]

In [8]:
# LEAVE AS-IS

# For testing, should print "Kung Fu Panda (2008)")
print(get_title(59784, movies))

Kung Fu Panda (2008)

## 1.3. Count unique registers

Count the number of unique users and unique movies in the `ratings` variable. Use [unique()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.unique.html). Print also the total number of movies in the `movies` variable. Your code should print:

```
Number of users who have rated a movie : 12676
Number of movies that have been rated  : 2049
Total number of movies                 : 33168
```

Note that ratings are heavily concentrated on a few popular movies.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with your own code to indicate the number of unique users and unique movies in the "ratings" variable.</font>

# 2. Item-based Collaborative Filtering

The two main types of interactions-based recommender system, also known as *collaborative filtering* algorithms are:

1. **User-based Collaborative Filtering**: To recommend items for user A, we first look at other users B1, B2, ..., Bk with a similar behavior to A, and aggregate their preferences. For instance, if all Bi like a movie that A has not watched, it would be a good candidate to be recommended. 


2. **Item-based Collaborative Filtering**: To recommend items for user A, we first look at all the items I1, I2, ..., Ik that the user A has consumed, and find items that elicit similar ratings from other users. For instnce, an item that is rated positively by the same users that rate positively the Ii items, and negatively by the same users that rate negatively the Ii items, would be a good candidate to be recommended.

In both cases, a similarity matrix needs to be built. For user-based, the **user-similarity matrix** will consist of some **distance metrics** that measure the similarity between any two pairs of users. For item-based, the **matrix** will measure the similarity between any two pairs of items.

As we already know, there are several metrics strategy for measure the "similarity" of two items. Some of the most used metrics are Jaccard, Cosine and Pearson. Meanwhile, Jaccard similarity is based on the number of users which have rated item A and B divided by the number of users who have rated either A or B (very useful for those use cases where there is not a numeric rating but just a boolean value like a product being bought), in Pearson and Cosine similarities we measure the similarity between two vectors.

For the purpose of this assignment, we will use **Pearson Similarity** and we will implement a **Item-based Collaborative filtering**.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

## 2.1. Data pre-processing

Firstly, create a new dataframe called "rated_movies" that is simply the "ratings" dataset with column genres removed using the [Drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) function.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with your code to generate "rated_movies" and print the first five rows. This should have columns user_id, movie_id, rating, title</font>

Now, using the `rated_movies` dataframe, create a new dataframe named `ratings_summary` containing the following columns:

* movie_id
* title
* ratings_mean (average rating)
* ratings_count (number of people who have rated this movie)

You can use the following operations:

* Initialize `ratings_summary` to be only the movie_id and title of all movies in `rated_movies`
   * To group dataframe `df` by column `a` and keep only one unique row per value of `a`, use: `df.groupby('a').first()`
* Compute two series: `ratings_mean` and `ratings_count`:
   * To obtain a series with the average of column `a` for each distinct value of column `b` in dataframe `df`, use: `df.groupby(b)['a'].mean()`
   * To obtain a series with the count of column `a` for each distinct value of column `b` in dataframe `df`, use: `df.groupby(b)['a'].count()`
* Add these series to the `ratings_summary`
   * To add a series `s` with column name `a` to dataframe `df`, use: `df['a'] = s`
    
<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with your code to generate "ratings_summary" and print the first 5 rows.</font>

To select from dataframe A those having column C larger or equal to N, you can do `A[A.C >= N]`.

To sort dataframe A by decreasing values of column C, you can do `A.sort_values(by='C', ascending=False)`.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with code to print the top 10 highest rated movies, considering only movies receiving at least 2000 ratings.</font>

<font size="+1" color="red">Repeat this, but this time consider movies receiving at least 3 ratings. What is the difference? How would you explain this?</font>

## 2.2. Compute the user-movie matrix

Before calculating the **similarity matrix**, we create a table where columns are movies and rows are users, and each movie-user cell contains the score of that user for that movie.

We will use the [pivot_table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html) function of Pandas, which receives a dataframe plus the variable that will make the rows, the variable that will make the columns, and the variable that will make the cells, and transform it into a matrix of the specified rows, columns, and cells.

For instance, if you have a dataframe D containing:

```
U V W
1 a 3.0
1 b 2.0
2 a 1.0
2 c 4.0
```

Calling `D.pivot_table(index='U', columns='V', values='W')` will create the following:

```
V  a   b   c
U
1 3.0 2.0 NaN
2 1.0 NaN 4.0
```

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with code to generate a "user_movie" matrix by calling "pivot_table" on "rated_movies". Print the first 10 rows. It might take about one minute to compute, depending on your computer.</font>

<font size="+1" color="red">Replace this a brief commentary indicating why do you think the "user_movie" matrix has so many "NaN" values. How do we call this characteristic of user ratings in recommender systems?</font>

# 2.3. Explore some correlations in the user-movie matrix

Now let us explore whether correlations in this matrix make sense.

1. Locate the movie_id for the following three movies:
  * [Monsters, Inc. (2001)](https://en.wikipedia.org/wiki/Monsters,_Inc.) -- name this id_pivot
  * [Finding Nemo (2003)](https://en.wikipedia.org/wiki/Finding_Nemo) -- name this id_m1
  * [Talk to Her (Hable con Ella) (2002)](https://en.wikipedia.org/wiki/Talk_to_Her) -- name this id_m2
2. Obtain the ratings for each of these movies: `user_movie[movie_id].dropna()`. You will obtain a column, containing a series of ratings for each movie.
3. Consolidate these four series into a single dataframe: `ratings3 = pd.concat([s1, s2, s3], axis=1)`
4. Drop from `ratings3` all rows containing a *NaN*. This will keep only the users that have rated all the 3 movies.
5. Display the first 10 rows from this table.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with code to compute and display the first 10 rows of the "ratings3" table as described above.</font>

To compute Pearson correlation, we use the [corr](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.corr.html) method.

To compute the correlation between two columns `a`, `b` in dataframe `df`, we use: `df[a].corr(df[b])`.

Compute the correlations between all pairs of columns of the `ratings3` table. You should display:

```
Similarity between 'Monsters, Inc. (2001)' and 'Finding Nemo (2003)': 0.56
Similarity between 'Monsters, Inc. (2001)' and 'Talk to Her (Hable con Ella) (2002)': 0.17
Similarity between 'Finding Nemo (2003)' and 'Talk to Her (Hable con Ella) (2002)': 0.24
```

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with code to compute all correlations between these three movies, as described above.</font>

<font size="+1" color="red">Replace this cell with a brief commentary on the correlations you find.</font>

Now let us take the first movie selected above, the one with movie_id `id_pivot`.

Select the column corresponding to this movie in `user_movies` and compute its correlation with all other columns in `user_movies`. This can be done with  [corrwith](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corrwith.html).

*Note 1*: You might receive a runtime warning on degrees of freedom and/or division by zero, which you can safely ignore. It simply means that there are some columns that have no elements in common with the given column, or only one element in common, and thus for which the correlation cannot be computed.

*Note 2*: Note that the similarities that you computed above with `corr` are limited to the set of users who rated all the three movies. Instead, the similarities that you compute below with `corrwith` include all users who rated the pivot plus at least one other movie. Hence, the results could be different.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with code to create a "similar_to_pivot" series that contains the computed correlations, droping the NaNs in the series.</font>

Next, create a dataframe `corr_with_pivot` by using `similar_to_pivot` and `ratings_summary`. This dataframe should have the following columns:

* corr - the correlation between each movie and the selected movie
* title
* ratings_mean
* ratings_count

To create a dataframe `df` from a series `s`, use: `df = pd.DataFrame(s, columns=['colname'])`. 

Keep only rows in which *ratings_count* > 500, i.e., popular movies. To filter a dataframe `df` and keep only rows having column `c` larger than `x`, use `df[df[c] > x]`.

Display the top 10 rows with the largest correlation. To select the largest `n` rows from dataframe `df` according to column `c`, use `df.sort_values(c, ascending=False).head(n)`. 

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with code to create a "corr_with_pivot" dataframe as specified above, and to print the 10 movies (rated 500 times or more) with the highest correlation with the selected movie.</font>

<font size="+1" color="red">Replace this cell with a brief commentary about the movies you see on this list. What happens if you set the condition on *ratings_count* to a much larger value? What happens if you set it to a much smaller value?</font>

# 2.4. Implement the item-based recommendations

Now that we believe that this type of correlation sort of makes sense, let us implement the item-based recommender. We need all correlations between columns in `user_movie`.

To compute all correlations between columns in a dataframe, use [corr](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html). This function receives a matrix with *r* rows and *c* columns, and returns a square matrix of *c x c* containing all pair-wise correlations between columns.

**This process may take a few minutes.** Print the first 5 rows of the resulting matrix when done.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with your code to compute all correlations between columns (movies) in the matrix user_movie. Store this in "item_similarity", and print the first 5 rows.</font>

Similarities between movies that do not have many ratings in common are unreliable. Fortunately, the `corr` method includes a parameter `min_periods` that establishes a minimum number of elements in common that two columns must have to compute the correlation.

Re-generate item_similarity setting min_periods to 100.

This process will also take a few minutes. Print the first 5 rows of the resulting matrix when done.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with your code to compute all correlations between columns (movies) in the matrix user_movie, but considering only movies having at least 100 ratings in common. Store this in "item_similarity_min_ratings"</font>

We will need to test our function so let us select a couple of interesting users.

Our first user, `user_id_super` will be someone who has given the following 3 films a rating higher than 4.5:

* movie_id=5349: *Spider-Man (2002)*
* movie_id=3793: *X-Men (2000)*
* movie_id=6534: *Hulk (2003)* 	

Our second user, `user_id_drama` will be someone who has given the following 3 films a rating higher than 4.5:

* movie_id=6870: *Mystic River (2003)*
* movie_id=5995: *Pianist, The (2002)*
* movie_id=3555: *U-571 (2000)*

To filter a dataframe by multiple conditions you can use, e.g., `df[(a > 1) & (b > 2)]`. 

**Important**: these particular users have watched lots of movies, so we cannot tell for sure they have only these interests.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with your code to find the userids of two example users: user_id_super (the who liked the three superhero movies), and user_id_drama (the one who liked the three dramas)</font>

We will need some auxiliary functions that are provided below. You can leave as-is.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

In [24]:
# Leave this code as-is

# Gets a list of watched movies for a user_id
def get_watched_movies(user_id, user_movie):
    return list(user_movie.loc[user_id].dropna().sort_values(ascending=False).index)
    
# Gets the rating a user_id has given to a movie_id
def get_rating(user_id, movie_id, user_movie):
    return user_movie[movie_id][user_id]

# Print watched movies
def print_watched_movies(user_id, user_movie, movies):
    for movie_id in get_watched_movies(user_id, user_movie):
        print("%d %.1f %s " %
          (movie_id, get_rating(user_id, movie_id, user_movie), get_title(movie_id, movies)))

In [25]:
# LEAVE AS-IS (TESTING CODE)

print_watched_movies(user_id_super, user_movie, movies)

5502 5.0 Signs (2002)
5445 5.0 Minority Report (2002)
6156 5.0 Shanghai Knights (2003)
5952 5.0 Lord of the Rings: The Two Towers, The (2002)
5944 5.0 Star Trek: Nemesis (2002)
5816 5.0 Harry Potter and the Chamber of Secrets (2002)
5618 5.0 Spirited Away (Sen to Chihiro no kamikakushi) (2001)
5524 5.0 Blue Crush (2002)
5480 5.0 Stuart Little 2 (2002)
5459 5.0 Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)
5420 5.0 Windtalkers (2002)
4388 5.0 Scary Movie 2 (2001)
5389 5.0 Spirit: Stallion of the Cimarron (2002)
5349 5.0 Spider-Man (2002)
5218 5.0 Ice Age (2002)
5064 5.0 The Count of Monte Cristo (2002)
4993 5.0 Lord of the Rings: The Fellowship of the Ring, The (2001)
4973 5.0 Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le) (2001)
4896 5.0 Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)
4886 5.0 Monsters, Inc. (2001)
6186 5.0 Gods and Generals (2003)
6333 5.0 X2: X-Men United (2003)
6377 5.0 Finding Nemo (2003)
6534 5.0 Hulk (2003)
30816 5.0 Phantom of the Opera, The (2004)
30812 5.0 Aviator, The (2004)
8972 5.0 National Treasure (2004)
8644 5.0 I, Robot (2004)
8636 5.0 Spider-Man 2 (2004)
8622 5.0 Fahrenheit 9/11 (2004)
8533 5.0 Notebook, The (2004)
8368 5.0 Harry Potter and the Prisoner of Azkaban (2004)
8361 5.0 Day After Tomorrow, The (2004)
8360 5.0 Shrek 2 (2004)
7454 5.0 Van Helsing (2004)
7324 5.0 Hidalgo (2004)
7153 5.0 Lord of the Rings: The Return of the King, The (2003)
6946 5.0 Looney Tunes: Back in Action (2003)
6761 5.0 Tibet: Cry of the Snow Lion (2002)
6565 5.0 Seabiscuit (2003)
6539 5.0 Pirates of the Caribbean: The Curse of the Black Pearl (2003)
4701 5.0 Rush Hour 2 (2001)
33162 5.0 Kingdom of Heaven (2005)
4270 5.0 Mummy Returns, The (2001)
3624 5.0 Shanghai Noon (2000)
3785 5.0 Scary Movie (2000)
3753 5.0 Patriot, The (2000)
3988 5.0 How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)
3793 5.0 X-Men (2000)
3751 5.0 Chicken Run (2000)
3827 5.0 Space Cowboys (2000)
4306 5.0 Shrek (2001)
3623 5.0 Mission: Impossible II (2000)
3598 5.0 Hamlet (2000)
3863 5.0 Cell, The (2000)
3578 5.0 Gladiator (2000)
4370 5.0 A.I. Artificial Intelligence (2001)
3755 5.0 Perfect Storm, The (2000)
6567 4.5 Buffalo Soldiers (2001)
5994 4.5 Nicholas Nickleby (2002)
6541 4.5 League of Extraordinary Gentlemen, The (a.k.a. LXG) (2003)
5992 4.5 Hours, The (2002)
5956 4.5 Gangs of New York (2002)
3981 4.5 Red Planet (2000)
4386 4.5 Cats & Dogs (2001)
6617 4.5 Open Range (2003)
6766 4.5 Camera Obscura (2000)
6947 4.5 Master and Commander: The Far Side of the World (2003)
7143 4.5 Last Samurai, The (2003)
7164 4.5 Peter Pan (2003)
8526 4.5 Around the World in 80 Days (2004)
8640 4.5 King Arthur (2004)
8961 4.5 Incredibles, The (2004)
8977 4.5 Alexander (2004)
3481 4.5 High Fidelity (2000)
3408 4.5 Erin Brockovich (2000)
5881 4.5 Solaris (2002)
6211 4.5 Ten (2002)
5171 4.5 Time Machine, The (2002)
3354 4.5 Mission to Mars (2000)
4016 4.5 Emperor's New Groove, The (2000)
4368 4.5 Dr. Dolittle 2 (2001)
5378 4.5 Star Wars: Episode II - Attack of the Clones (2002)
5313 4.5 The Scorpion King (2002)
4020 4.5 Gift, The (2000)
5444 4.5 Lilo & Stitch (2002)
4638 4.5 Jurassic Park III (2001)
4783 4.5 Endurance: Shackleton's Legendary Antarctic Expedition, The (2000)
4995 4.0 Beautiful Mind, A (2001)
4299 4.0 Knight's Tale, A (2001)
7255 4.0 Win a Date with Tad Hamilton! (2004)
3996 4.0 Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)
3745 4.0 Titan A.E. (2000)
8639 4.0 Clearing, The (2004)
4254 4.0 Crocodile Dundee in Los Angeles (2001)
3744 4.0 Shaft (2000)
3555 4.0 U-571 (2000)
4069 4.0 Wedding Planner, The (2001)
6550 4.0 Johnny English (2003)
4367 4.0 Lara Croft: Tomb Raider (2001)
6959 4.0 Timeline (2003)
3826 4.0 Hollow Man (2000)
6537 4.0 Terminator 3: Rise of the Machines (2003)
4366 4.0 Atlantis: The Lost Empire (2001)
5833 4.0 Dog Soldiers (2002)
30846 4.0 Assassination of Richard Nixon, The (2004)
5876 4.0 Quiet American, The (2002)
5530 4.0 Simone (S1m0ne) (2002)
4446 4.0 Final Fantasy: The Spirits Within (2001)
3997 4.0 Dungeons & Dragons (2000)
3998 4.0 Proof of Life (2000)
6060 4.0 Guru, The (2002)
3977 4.0 Charlie's Angels (2000)
3889 4.0 Highlander: Endgame (Highlander IV) (2000)
5463 4.0 Reign of Fire (2002)
8666 4.0 Catwoman (2004)
8371 4.0 Chronicles of Riddick, The (2004)
8979 3.5 Guerrilla: The Taking of Patty Hearst (2004)
3564 3.5 Flintstones in Viva Rock Vegas, The (2000)
8981 3.5 Closer (2004)
4756 3.5 Musketeer, The (2001)
4643 3.5 Planet of the Apes (2001)
3510 3.5 Frequency (2000)
5670 3.5 Comedian (2002)
4958 3.5 Behind Enemy Lines (2001)
5872 3.5 Die Another Day (2002)
5882 3.5 Treasure Planet (2002)
5071 3.5 MaelstrÃ¶m (2000)
4232 3.5 Spy Kids (2001)
6373 3.5 Bruce Almighty (2003)
4310 3.5 Pearl Harbor (2001)
6264 3.5 Core, The (2003)
6220 3.0 Willard (2003)
30894 3.0 White Noise (2005)
3986 3.0 6th Day, The (2000)
5504 3.0 Spy Kids 2: The Island of Lost Dreams (2002)
6157 3.0 Daredevil (2003)
8907 3.0 Shark Tale (2004)
6703 3.0 Order, The (2003)
5328 3.0 Rain (2001)
7846 3.0 Tremors 3: Back to Perfection (2001)
8865 2.5 Sky Captain and the World of Tomorrow (2004)
7458 2.5 Troy (2004)
3593 2.5 Battlefield Earth (2000)
5478 0.5 Eight Legged Freaks (2002)
3300 0.5 Pitch Black (2000)

In [26]:
# LEAVE AS-IS (TESTING CODE)

print_watched_movies(user_id_drama, user_movie, movies)

3967 5.0 Billy Elliot (2000)
4014 5.0 Chocolat (2000)
4034 5.0 Traffic (2000)
5995 5.0 Pianist, The (2002)
7147 5.0 Big Fish (2003)
4995 5.0 Beautiful Mind, A (2001)
3555 5.0 U-571 (2000)
6870 5.0 Mystic River (2003)
5991 5.0 Chicago (2002)
8464 5.0 Super Size Me (2004)
5669 5.0 Bowling for Columbine (2002)
8622 5.0 Fahrenheit 9/11 (2004)
30707 5.0 Million Dollar Baby (2004)
6953 4.5 21 Grams (2003)
5015 4.5 Monster's Ball (2001)
5464 4.5 Road to Perdition (2002)
3510 4.5 Frequency (2000)
5989 4.5 Catch Me If You Can (2002)
4022 4.0 Cast Away (2000)
5010 4.0 Black Hawk Down (2001)
5299 4.0 My Big Fat Greek Wedding (2002)
3897 4.0 Almost Famous (2000)
3755 4.0 Perfect Storm, The (2000)
4308 4.0 Moulin Rouge (2001)
4447 3.5 Legally Blonde (2001)
4246 3.5 Bridget Jones's Diary (2001)
4975 3.5 Vanilla Sky (2001)
4019 3.5 Finding Forrester (2000)
5377 3.5 About a Boy (2002)
3948 3.5 Meet the Parents (2000)
5956 3.0 Gangs of New York (2002)
6281 3.0 Phone Booth (2002)
7143 3.0 Last Samurai, The (2003)
7458 3.0 Troy (2004)
5349 3.0 Spider-Man (2002)
5902 3.0 Adaptation (2002)
5418 3.0 Bourne Identity, The (2002)
4993 3.0 Lord of the Rings: The Fellowship of the Ring, The (2001)
4310 3.0 Pearl Harbor (2001)
4025 2.5 Miss Congeniality (2000)
3578 2.5 Gladiator (2000)
8644 2.5 I, Robot (2004)
4018 2.5 What Women Want (2000)
5679 2.5 Ring, The (2002)
30825 2.5 Meet the Fockers (2004)
4027 2.5 O Brother, Where Art Thou? (2000)
4776 2.5 Training Day (2001)
4963 2.5 Ocean's Eleven (2001)
7438 2.0 Kill Bill: Vol. 2 (2004)
3916 2.0 Remember the Titans (2000)
8665 2.0 Bourne Supremacy, The (2004)
30793 2.0 Charlie and the Chocolate Factory (2005)
7153 2.0 Lord of the Rings: The Return of the King, The (2003)
6934 1.5 Matrix Revolutions, The (2003)
3752 1.0 Me, Myself & Irene (2000)
8798 1.0 Collateral (2004)

For every user, we will consider that the importance of a new movie (a movie s/he has not rated) will be equal to the sum of the similarities between that new movie and all the movies the user has already rated.

Indeed, to further improve this, we will compute a weighted sum, in which the weight will be the rating given to the movie.

For instance, suppose a user has rated movies as follows:

```
movie_id rating
1        2.0
2        3.0
3        NaN
4        NaN
```

And that movie similarities are as follows (values with a "." do not matter in this example):

```
movie_id   1   2   3   4
1         ...............
2         ...............
3         0.1 0.2 NaN ...
4         0.9 0.8 ... NaN
```

The importance of movie 3 to this user will be:

```
2.0 * 0.1 + 3.0 * 0.2 = 0.8
```

While the importance of movie 4 to this user will be:

```
2.0 * 0.9 + 3.0 + 0.8 = 5.6
```

As we can see, we are favoring movies that are highly similar to many movies that the user has rated high.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

Create a function `get_movies_relevance` that returns a dataframe with columns `movie_id` and `relevance`. You can use the following template:

```python
def get_movies_relevance(user_id, user_movie, item_similarity_matrix):
    
    # Create an empty series
    movies_relevance = ...
    
    # Iterate through the movies the user has watched
    for watched_movie in ...
        
        # Obtain the rating given
        rating_given = ...
        
        # Obtain the vector containing the similarities of watched_movie
        # with all other movies in item_similarity_matrix
        similarities = ...
        
        # Multiply this vector by the given rating
        weighted_similarities = ...
        
        # Append these terms to movies_relevance
        movies_relevance = movies_relevance.append(weighted_similarities)
    
    # Compute the sum for each movie
    movies_relevance = movies_relevance.groupby(movies_relevance.index).sum()
    
    # Convert to a dataframe
    movies_relevance_df = pd.DataFrame(movies_relevance, columns=['relevance'])
    movies_relevance_df['movie_id'] = movies_relevance_df.index
    
    return movies_relevance_df

```

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with your code for "get_movies_relevance"</font>

Apply `get_movies_relevance` to the two users we have selected, `user_id_super` and `user_id_drama`.

The result will contain only `movie_id` and `relevance`, you will have to merge with the `movies` dataframe on the `movie_id` attribute.

Sort the results by descending relevance and print the top 10 for each case.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with your code to obtain the 10 most relevant movies for the users user_id_super (who likes superhero movies) and user_id_drama (who likes dramas)</font>

<font size="+1" color="red">Replace this cell with a brief commentary on the movies you see on these lists. How many of them look relevant for the intended users? Feel free to use IMDB or Wikipedia to get info on these movies.</font>

<font size="-1" color="gray">All those trivial facts you learned about 1980s and 1990s pop culture were supposed to be useful one day; that day has arrived :-)</font>

Finally, you only need to remove the movies the user has watched. To do so:

* Obtain the dataframe of relevant movies with `get_movies_relevance`
* Set this dataframe index to 'movie_id'
* Obtain the list of movie_ids of watched movies with `get_watched_movies`
* Drop from the relevant movies dataframe the watched movies

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+1" color="red">Replace this cell with your code implementing "get_recommended_movies"</font>

<font size="+1" color="red">Replace this cell with your code to obtain the 10 most recommended movies for the users user_id_super and user_id_drama</font>

<font size="+1" color="red">Replace this cell with a brief commentary on these recommendations. Do you think they are relevant? Why or why not? After removing the movies the user has already watched, are the relevance scores of the remaining items comparable to the previous lists that contained all relevant movies?</font>

# DELIVER (individually)

Remember to read the section on "delivering your code" in the [course evaluation guidelines](https://github.com/chatox/data-mining-course/blob/master/upf/upf-evaluation.md).

Deliver a zip file containing:

* This notebook

## Extra points available

For more learning and extra points, use the [surprise](http://surpriselib.com/) library to generate recommendations for the same two users. Display the generated recommendations and comment on them.

**Note:** if you go for the extra points, add ``<font size="+2" color="blue">Additional results: surprise library</font>`` at the top of your notebook.

<font size="-1" color="gray">(Remove this cell when delivering.)</font>

<font size="+2" color="#003300">I hereby declare that, except for the code provided by the course instructors, all of my code, report, and figures were produced by myself.</font>